.container{
    display: inline-block;
    position: relative;
    z-index: 1;
}
img{
    width: 300px;
    margin:50px 100px
}
.glassChose img{
    width: 200px;
    height: 50px;
    position: absolute;
    left: 10%;
    top: 20%;
    z-index: 5;
    opacity: 0.9;
}
.desc{
    font-size: 15px;
}
.info{
    height: 40px;
    position: absolute;
    width: 60%;
    bottom: 11%;
    left: 20%;
    z-index: 2;
    opacity: 0.5;
    background-color: rgb(0, 255, 13);
    height: 25%;
}